<div class="grid justify-content-center">
  <div class="px-4 col-12 sm:col-6 md:col-4">
      
      <form>
          <div >
              <div class="form-group">
                  <input type="text" class="form-input mat-input form-control" name="mail" formControlName="mail"
                       id="mail" placeholder="Ingresar correo electronico">
                  <label for="mail" class="mat-label">Correo</label>
                  <div *ngIf="submitted" class="invalid-feedback pull-left">
                      <div  class="pull-left">
                          El mail es requerido
                      </div>
                  </div>
                  <div class="help-text">Ejemplo@ejemplo.com</div>
              </div>
  
              <div class="form-group">
                  <input id="password" class="form-input mat-input form-password form-control"
                       placeholder="Contraseña" name="password"
                      formControlName="password">
                  <label class="mat-label" for="password">Contraseña</label>
                  <i toggle="#password-field" class="toggle-password" 
                      ></i>
                  <div  class="invalid-feedback">
                      <div  class="pull-left">
                          La contraseña es requerida
                      </div>
                  </div>
                  <div class="help-text">Ingresa tu contraseña</div>
              </div>
          </div>
       
      
         
          <div class="buttons">
              <button class="btn btn-primary" id="formButton" type="submit" >ingresar</button>
          </div>
      </form>
      
  </div>
</div>
